* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style Celulares */
  @media only screen and (max-width: 400px) {
    body {
        transition: 1s;
        background-color: #E91E63;
        font-family: sans-serif;
    }
    .Menu_central:hover{
        background: #414141;
        left: 0%;
        transition: 1s;
        transition-delay: 1s;
        box-shadow: 0px 0px 8px 1px black;
    }
    .Menu_central{      
        border-width: 0px;
        padding: 7px 9px;
        width: 90vw;
        text-align: left;
        font-size: 20px;
        overflow: auto;
        left: -80vw;
        overflow-y: auto;
        height: 100%;
        background: black;
        position: fixed;
        z-index: 1;
        transition: 1s;
        transition-delay: .2s;
    }    
    .select_Conte_Cuadrado_auto{ 
        float: left;
        height: 20vh;
        width: 20vh;
        max-width: 24vh;
        margin: 1px;
        background: #1739b3;
        text-align: center;
        background: #178fb3;
    }
    .Conte_Cuadrado_auto{ 
        float: left;
        height: 20vh;
        width: 20vh;
        max-width: 24vh;
        margin: 1px;
        background: #1739b3;
        text-align: center;
    }
    .Conte_Cuadrado_auto:hover{
        background:#072742;
        
    }       
    .img_Cuadrado_auto{
        height: 15vh;
        width: 15vh;
        overflow: hidden;
        padding: 0px 0px 15px 0px;
        border-width: 0px;
        background: #ff000000;
        margin: 0px auto;
    }
    .select_boton_Cuadrado_auto_claro{
        background: #0e519c;
        color: white;
        border-width: 0px;
        width: 100%;
        text-align: center;
        height: 4.5vh;
        transform: translateY(-1vh);
    }
    .boton_Cuadrado_auto_claro{
        background: #36363a;
        color: white;
        border-width: 0px;
        width: 100%;
        text-align: center;
        height: 4.5vh;
        transform: translateY(-3vh);
    }
  }
  
  /*Styles Tables*/
  @media only screen and (min-width: 401px) and (max-width: 960px) {  
    body {
        transition: 1s;
        background-color: #ce860c;
    }      
    .Menu_central:hover{
        background: #414141;
        left: 0%;
        transition: 1s;
        transition-delay: 1s;
        box-shadow: 0px 0px 8px 1px black;
    }
    .Menu_central{      
        border-width: 0px;
        padding: 7px 9px;
        width: 90vw;
        text-align: left;
        font-size: 20px;
        overflow: auto;
        left: -80vw;
        overflow-y: auto;
        height: 100%;
        background: black;
        position: fixed;
        z-index: 1;
        transition: 1s;
        transition-delay: .2s;
    }    

    .select_Conte_Cuadrado_auto{ 
        float: left;
        height: 25vh;
        width: 25vh;
        margin: 1px;
        text-align: center;
        background: #178fb3;
    }
    .Conte_Cuadrado_auto{ 
        float: left;
        height: 25vh;
        width: 25vh;
        margin: 1px;
        text-align: center;
        background: #1739b3;
    }   
    .Conte_Cuadrado_auto:hover{
        background:#072742;
        
    }   

    .img_Cuadrado_auto{
        height: 20vh;
        width: 20vh;
        overflow: hidden;
        padding: 0px 0px 15px 0px;
        border-width: 0px;
        background: #ff000000;
        margin: 0px auto;
    }    
    .select_boton_Cuadrado_auto_claro{
        background: #0e519c;
        color: white;
        border-width: 0px;
        width: 100%;
        text-align: center;
        height: 4.5vh;
        transform: translateY(0vh);
    }
    .boton_Cuadrado_auto_claro{
        background: #36363a;
        color: white;
        border-width: 0px;
        width: 100%;
        text-align: center;
        height: 4.5vh;
        transform: translateY(0vh);
    }
  }
  
  /*Styles  Escritorio*/
  @media only screen and (min-width: 961px) {
        body {
            transition: 1s;
            background-color: #0a044e;
            color: white;
        }             
        .select_Menu_central{
            color: white;
            background: #166390;
            border-width: 0px;
            padding: 2px 9px;
            width: 100%;
            text-align: left;
            font-size: 20px;
            
        }
        .Menu_central:hover{
            background: #414141;
            left: 0%;
            transition: 1s;
            transition-delay: 1s;
            box-shadow: 0px 0px 20px 1px black;
        }
        .Menu_central{  
            border-width: 0px;
            padding: 7px 9px;
            width: 50vw;
            text-align: left;
            font-size: 20px;
            overflow: a;
            left: -45%;
            overflow-y: auto;
            height: 100%;
            background: black;
            position: fixed;
            z-index: 1;
            transition: 1s;
            transition-delay: .2s;
        }  
        .select_Conte_Cuadrado_auto{ 
            float: left;
            height: 24vh;
            width: 24vh;
            margin: 1px;
            text-align: center;
            background: #178fb3;
        }
        .Conte_Cuadrado_auto{
            float: left;
            height: 24vh;
            width: 24vh;
            margin: 1px;
            text-align: center;
            background: #1739b3;
        }
        .Conte_Cuadrado_auto:hover{
            background:#072742;
            
        }       
        .img_Cuadrado_auto{  
            height: 20vh;
            width: 20vh;
            overflow: hidden;
            padding: 0px 0px 15px 0px;
            border-width: 0px;
            background: #ff000000;
            margin: 0px auto;
        }
    /*tipo cuados claros*/
        .select_boton_Cuadrado_auto_claro{
            background: #0e519c;
            color: white;
            border-width: 0px;
            width: 100%;
            text-align: center;
            height: 4.5vh;
            transform: translateY(-1vh);
        }
        .boton_Cuadrado_auto_claro{
            background: #36363a;
            color: white;
            border-width: 0px;
            width: 100%;
            text-align: center;
            height: 4.5vh;
            transform: translateY(-1vh);
        }
    }


        .menu_movil{        
            width: 300px;
            bottom: 0px;
            top: 0px;
            background: #364952;
            position: absolute;
            height: 100%;
        }
        .contenido_menu_movil{
            background: orange;
            width: 96%;
            height: 100%;
            right: 2%;
            position: absolute;
        }
        .barras{
            height: 7px;
            background: beige;
            margin: 5px;
            left: 5%;
            right: 5%;
            border-radius: 5px;
        }
        .Porta_botones{    
            height: 8%;
            background: red;
            box-shadow: inset 0px 0px 0px 1px white;
            padding: 1px;
        }
        .boton_menu_movil{
            background: #195182;
            width: 50px;
            height: 50px;
            border-radius: 12px;
            box-shadow: inset 0px 0px 0px 1px white; 
            padding: 5px 0px;
        }
        .img_menu_movil{
            width: 16%
        }
    /* elementos especiales*/
        *::-webkit-scrollbar-thumb {
            background: #0e519c;
            border-radius: 10px;
        }
        *::-webkit-scrollbar {
            width: 10px;
            background: #676767;
            border-radius: 10px;   
            height: 10px;
        }
        .inputFile{
            width: 100%;
            height: 30px;
            margin: 0px;
            top: 0px;
        }        
        .Conte_pri{
            position: absolute;
            background: #0e519c;
            width: 92%;
            top: 0px;
            bottom: 0px;
            left: 5.5%;
        }
        .Lateral{   
            background: #000000cc;
            width: 100%;
            height: 50px;
            padding: 0px 5px;
        }
        .Lateral >div{
            float: left;
        }                       
        .formularios{
            background: #1739b3;
            padding: 5px;
            box-shadow: inset 0px 0px 8px 0px white;
            width: 300px;
            float: left;
        }
        .titulos{ transition: 1s;    
            background: black;
            width: auto;
            text-align: center;
            height: 32px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
    /*Contenedores*/
        .DivOperadores{        
            width: 305px;
        }
        .Conte_datos{/*ajusta si tamaño al div padre*/
            background: #36363a;
            position: absolute;
            bottom: 5px;
            top: 60px;
            left: 5px;
            right: 2.5%;
            overflow-y: auto;
            padding: .5%;
        
        }
        .Contenedor_auto2_1{
            background: #1f1f1f;
            width: auto;
            height: auto;
            padding: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-transform-origin-y: bottom;
            box-shadow: inset 0px 0px 4px 0px blue;
            border-radius: 5px;
        }
        .Contenedor_auto2_2{
            background: #1f1f1f;
            width: auto;
            height: auto;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 100px;
            -webkit-transform-origin-y: bottom;
            box-shadow: inset 0px 0px 4px 0px blue;
            border-radius: 5px;
            float: left;
        }
        .Contenedor_auto2{
            background: #1f1f1f;
            width: auto;
            height: auto;
            padding: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 275px;
            -webkit-transform-origin-y: bottom;
            box-shadow: inset 0px 0px 4px 0px blue;
            border-radius: 5px;
            float: left;
        }
        .Contenedor_auto1{
            background: black;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }
    /*Consolas*/
        .ConsolaProcesos:hover{
            background: #414141;
            box-shadow: 0px 0px 20px 1px black;
            right: 0%;
            transition: 1s;
            transition-delay: .2s;
            padding: 5px;
        }
        .ConsolaProcesos{   
            position: fixed;
            width: 30%;
            height: 100%;
            z-index: 1;
            background: #676767;
            right: -28%;
            transition: 1s;
            transition-delay: .2s;
        }
        
        .consola1{        
            background: #343434;
            width: 300px;
            height: 28px;   
            box-shadow: inset 0px 0px 1px 1px white;
            align-items: center;
            justify-content: center;
            display: flex;   
            overflow-y: auto;

        }
        .DesplegableRight:hover{
            right: -0%;
            transition-duration: 1s;
        }
        .DesplegableRight{
            position: absolute;
            height: 100%;
            right: -18%;
            width: 20%;
            top: 0px;
            background: black;
            box-shadow: inset 0px 0px 0px 2px #02e200;
            padding: 5px;
            overflow-x: hidden;
            overflow-y: auto;
            transition-duration: 1s;
        }        
        .Medio{
            min-width: 100px;
            color: white;
            background: #345;
            border-radius: 0px;
            border-width: 0px;
            box-shadow: 0px 0px 1px white;
            padding: 0px 5px;
        }
        .Medio:hover{
            
            color: white;
            background: #263a84;
            border-radius: 0px;
            border-width: 0px;
        }
        .Medio:focus{
            background: white;
            color: black;
            box-shadow: inset 0px 0px 8px #195182;
        }
    /*Diseños para botones*/        
        .Diseno_botones1{ transition: 1s;
            background: black;
            color: white;
            border: 0px;
            height: 20px;
            width: 100px;
            box-shadow: inset 0px 0px 0.8px 0px white;
        }
        .Diseno_botones2{ transition: 1s;
            background: black;
            color: white;
            border: 0px;
            height: 30px;
            width: 100px;
        }
        .Diseno_botones3:hover{ transition: 1s;
            background: #607D8B;
        }
        .Diseno_botones3{ transition: 1s;
            background: #343434;
            padding: 0px 10px;
            color: white;
            border: 0px;
            height: 30px;
            width: 190px;
            box-shadow: inset 0px 0px 1px white;
        }
        .Diseno_boton_id:hover{ transition: 1s;    
            background: #3f89b5;
        }
        .Diseno_boton_id{ transition: 1s;    
            background: #3F51B5;
            color: white;
            border: 0px;
            height: 20px;
            width: 45px;
        }
        
        .select_buttonDefaul{
            color: white;
            background: #166390;
            border-width: 0px;
            padding: 2px 9px;
            width: 100%;
            text-align: left;
            font-size: 20px;
            
        }
        .buttonDefaul:hover{  
            background: #166390;
        }
        .buttonDefaul{    
            color: white;
            background: black;
            border-width: 0px;
            padding: 2px 9px;
            width: 115PX;
            text-align: left;
        }
        .buttonDefaulClaro{            
            background: #36363a;
            color: white;
            border-width: 0px;
            padding: 2px 9px;
            width: 100%;
            text-align: left;
        }
        .buttonDefaulClaro:hover{  
            background: #166390;
        }        
        .select_buttonDefaulClaro{
            color: white;
            background: #166390;
            border-width: 0px;
            padding: 2px 9px;
            width: 100%;
            text-align: left;
            
            
        }

    /*Diseño para botones menu*/
        .Boton_menu1:hover{ 
            transition: 1s;
            background: #312c2c;
            box-shadow: 0px 0px 5px #454545;
        }
        .select_Boton_menu1{ 
            transition: 1s;  
            margin: 5px 1px;
            background: #312c2c;
            color: white;
            width: 150px;
            height: 39px;
            border: 0px;
            box-shadow: 0px 0px 5px #454545;
        }
        .Boton_menu1{
            transition: 1s;    
            margin: 5px 1px;
            background: black;
            color: white;
            width: 150px;
            height: 39px;
            border: 0px;
            box-shadow: 0px 0px 5px black;
        }
        .div_iconos_pequenos{  
            background: #1f1f1f;
            box-shadow: 0px 0px 0px 0.05px white;
            max-width: 541px;
            min-width: 200px;
            float: left;
            width: 17%;       
        }
        .boton_iconos_pequenos{  
            background: #19518221;
            border-width: 0px;
            color: white;
            padding: 0px 12px 0px 12px;
            width: 14%;
            height: 40px;
            text-align: left;
            position: absolute;

        }
        .img_iconos_pequenos{
            float: left;
            width: 40px;
            border-width: 0px;
            height: 40px;
        }
        .Conte_Cuadrado_auto:hover >input{
            background: #0c0c7b;
        }
    /*oscuro*/
        /*background: #0e519c;*/
        .Alineacion_lateral:hover{
            
            background: #7b7b7b;;
        }
        .Alineacion_lateral{
            float: left;    
            background: transparent;
            width: 150px;
            margin: 0px 1px 0px 1px;
            height: 50px;
        }
        .select_Alineacion_lateral{
            float: left;
            background: #0e519c;;
            width: 150px;
            margin: 0px 1px 0px 1px;
            height: 50px;
        }
        .botonAjusteDiv{
            background: transparent;
            height: 100%;
            width: 70%;
            vertical-align: top;
            color: white;
            border-width: 0px;
            padding: 5px;
        }
        .select_botonAjusteDiv{
            background: transparent;
            height: 100%;
            width: 70%;
            vertical-align: top;
            color: white;
            border-width: 0px;
            padding: 5px;
        }
        .ImgAjusteDiv{
            height: 100%;
            width: 30%;
            border-width: 0px;
        }
    /*Explorador de archivos*/
        /*listas */
        .opcion_lista:hover{
            background: #828282;
        }
        .select_opcion_lista{
            background: #8fa7ff;
            position: relative;
            width: 22vw;
            height: 3.8vh;
            max-height: 38px;
            overflow: hidden;
            padding: 4px;
            float: left;        
            margin: .5px;   
        }
        .opcion_lista{
            position: relative;
            width: 22vw;
            height: 3.8vh;
            max-height: 38px;
            overflow: hidden;
            padding: 4px;
            float: left;        
            margin: .5px;   
        }
        .select_boton_lista{                    
            border: 0px;
            width: auto;
            height: 100%;
            background: transparent;
            text-align: left;
            padding: 0px 5px;
            color: black;
            position: absolute;
            top: 0px;
        }
        .boton_lista{
            border: 0px;
            width: auto;
            height: 100%;
            background: transparent;
            text-align: left;
            padding: 0px 5px;
            color: black;
            position: absolute;
            top: 0px;
        }
        .img_lista{
            width: 1.75vw;
            border: 0px;
            background: transparent;
            float: left;
            
        }
        .ContenidoCarpeta{
            position: relative;
            background: white;
            color:black;
            width: 79%;
            height: 95%;
            float: left;
            padding: 5px;
            box-shadow: inset 0px 0px 0px 2px black;
            overflow: auto;
        }
  