#min{
	width: 200px; 
	height: 17px; 
	background: rgba(5, 72, 108, 0.67); 
	position: relative; 
	overflow: hidden; 
	float: left;
}
#Calculadora{
	width: 640px; 
	height: 260px; 
	background: rgba(5, 72, 108, 0.67); 
	position: absolute; 
	bottom: 0px; 
	left: 100px;
}
#General{
	width: 660px; 
	height: 460px; 
	background: rgba(5, 72, 108, 0.67); 
	position: absolute; 
	top: 20px; 
	left: 100px;
}